@import "tailwindcss";
@theme {
  --canvas-bg: #1f1f1f;
  --sidebar-bg: #181818;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}
